li{
    list-style:none
}

.navbar{
    background-image: url("https://wallpapercave.com/wp/wp7182521.jpg");
    background-position: 0% 50%;
    padding: 6em;
}

#logo{
    width: 10em;
}

h5{
    font-family: 'Press Start 2P', cursive;
}