li{
    list-style:none
}

.navbar{
    background-image: url("https://wallpapercave.com/wp/wp7182521.jpg");
    background-position: 0% 50%;
    padding: 6em;
}

#logo{
    width: 10em;
}

h5{
    font-family: 'Press Start 2P', cursive;
}

.card{
    width: 15rem;
}


.scaleImage {
    animation: scaling-image-animation 5s ease;
  }
  
  @keyframes scaling-image-animation {
    0% {
      transform: scale(0.5);
      opacity: 0.8;
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(2.5);
    }
  }